@page
@model WebApp.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @if (User.Identity.IsAuthenticated)
    {
        <h4>You are not logged out of the application</h4>
        <p>Please click the logout button to logout of the application</p>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
    }
</header>